@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCIsImdhbnR0Iiwic2NoZWR1bGVycHJvIl0sIm5hbWUiOiJqZXJlbXkucm9uZGVhdS5ybmQuLmdtYWlsLmNvbSIsImdyb3VwcyI6WyJ0cmlhbCIsImdhbnR0Iiwic2NoZWR1bGVycHJvIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sImlhdCI6MTY5NTM4ODQyNywibmJmIjoxNjk1Mzg4NDI3LCJleHAiOjI1NTkzMDIwMjd9.fQpdT29HL1tBCG1-gF2Z6k9n1VLt9-0-8qZjhFxAIsg